{% extends 'community/layout.html' %}

{% block style %}
    .community-list-body {
    background-color: #ffffff;
    height: 100%;
    padding-bottom: 6%;
    }

    .community-list-page-title {
    background-color: #ffffff;
    text-align: center;
    margin-top: 60px;
    }

    .community-list-page-title p {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 28px;
    }

    .community-grid-container {
    display: grid;
    grid-template-columns: 22% 22% 22%;
    grid-template-rows: 200px 200px;
    gap: 2% 10px;
    grid-template-areas: "combox_big g1 g2" "combox_big g3 g4";
    text-align: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 5px;
    }

    .community-grid-container a p {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 21px;
    margin-top: 20%;
    padding-bottom: 8px;
    margin-left: 9%;
    width: 80%;
    }



    .community_list_btn_grid {
    background-image:url('/static/cauback.jpg');
    background-size : 100% 100%;
    border : 2px solid #FA4D55;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 8px #999999, 0 12px 20px lightgray;
    }

    #community_list_btn_1 {
        background-image:url('/static/cauback.jpg');

    }

    #community_list_btn_2 {
        background-image:url('/static/yonseiback.jpg');

    }

    #community_list_btn_3 {
        background-image:url('/static/hanyangback.jpg');
    }

    #community_list_btn_4 {
        background-image:url('/static/khuback.jpg');
    }

    .community_list_btn_grid div {
    color: white;
    text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
    margin-top: 21%;
    display: block;
    }

    #community-list-description {
    margin-top: 10px;
    }

    .community_list_btn_grid:hover {
    opacity: 0.7 !important;
    }

    .community-all {
    grid-area: combox_big;
    background-color: #F5F5F5;
    border: none;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 5px 8px #999999, 0 12px 20px lightgray;
    }

    .community-all div {
    margin-top: 50%;
    color: #FA4D55;
    font-family: 'Noto Sans KR', sans-serif;
    font-size:21px;
    }

    .community-all:hover {
    opacity: 0.7 !important;
    }


    .btn_grid:nth-child(1) {
    grid-area: g1;
    }

    .btn_grid:nth-child(2) {
    grid-area: g2;
    }

    .btn_grid:nth-child(3) {
    grid-area: g3;
    }

    .btn_grid:nth-child(4) {
    grid-area: g4;
    }

    footer{
        display:none;
    }
{% endblock %}

{% block content %}
    <div class="community-list-body" >
        <div class="community-list-page-title" style="padding-bottom:60px;">
            <p style="font-family: S-CoreDream-3Light">{{ school }} 커뮤니티</p>
        </div>
        <div class="community-grid-container">
            <div class="community-all">
                <a href="{% url 'community:all_community_list' %}">
                    <div style="font-family: S-CoreDream-3Light; font-weight: bold; font-size:24px;">전체 커뮤니티</div>
                    <div id="community-list-description"style="font-family: S-CoreDream-3Light; font-size:16px;">
                        모든 자취생들을 위한 공간
                    </div>
                </a>
            </div>
            {% for community in communities %}
                <a href='{{ community.id }}' class="community_list_btn_grid" id="community_list_btn_{{ community.pk }}">
                    <div style="font-family: S-CoreDream-3Light; font-size:21px; font-weight: bold">
                        {{ community.name }}
                    </div>
                    <div id="community-list-description"
                         style="font-family: S-CoreDream-3Light; font-size:16px;">
                        {{ community.description }}
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}