<div class="table-striped" id="comment_list">
    <div id='comment-body'>
        <div class="comment_row">
            {% for comment in comments %}
            <div class="comment-row-1">
                <div class="comment_date">{{ comment.created|date:'n/j' }}</div>
                <span colspan="3" id="{{ comment.text }}" class="comment_text">{{ comment.text }}</span>
            </div>

            <div class="comment-row-2">
                {% if comment.user == user %}
                    <span>
            <span>
                <a href="#" onclick="commentupdate(this.id)" id="{{ comment.id }}" class=" btn btn-warning btn-sm
                   btn_comment_update">수정</a>
            </span>

            <span> 
                <a class="btn btn-default" href="{% url 'community:comment_delete' comment.pk %}">삭제</a>
            </span>
                        </span>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>
    <div id='comment-body-input'>
        <form action="" method='POST' id="comment_form" style="display: inline; font-family: S-CoreDream-3Light">
            {% csrf_token %}
            {{ comment_form }}
            <button id="createbutton" type="submit" style="float: right; margin-right: 15px;">입력</button>
        </form>
        <button id="updatebutton" onclick="commentupdatesubmit()" style="display: none; float: right; margin-right: 15px">수정</button>
        <button id="backtocreate" onclick="backtocreate()" style="display:none; float: right; margin-right: 5px">수정취소</button>
    </div>

    <script>
        var pk = ''

        function commentupdate(commentid) {
            if ('무조건 이 분기로 들어오기 위해') {
                {% for comment in comments %}
                    if (commentid === '{{ comment.id }}') {
                        console.log('여기로안들어오나?')
                        origintext = '{{ comment.text }}'
                        console.log(origintext)
                    }
                {% endfor %}
                pk = commentid;
                $("textarea#id_text").text(origintext)
                {% for comment in comments %}
                    document.getElementById('{{ comment.id }}').style.display = "none";
                {% endfor %}
                document.getElementById('createbutton').style.display = "none";
                document.getElementById('updatebutton').style.display = "block";
                document.getElementById('backtocreate').style.display = "block";
            }
        }

        function commentupdatesubmit() {
            comment = $("textarea#id_text").val()
            if (comment === '') {
                alert('내용이 없습니다. 댓글을 삭제하시려면 delete 버튼을 눌러주세요!')
            } else {
                commentpk = pk;
                console.log(commentpk)
                $.ajax({
                    type: "post",
                    url: "{% url 'community:new_comment_update' %}",
                    data: {'comment': comment, "pk": commentpk, "csrfmiddlewaretoken": "{{csrf_token}}"},
                    success: function (response) {
                        console.log('success')
                        location.reload();
                    }
                })
            }
        }

        function backtocreate() {
            window.location.reload();
        }
    </script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

    {#새로고침될때마다 양식 재제출 방지하는 코드-지영(원리는모름,지우면안됩니다!)#}
    <script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>