{% extends 'community/layout.html' %}
{% block style %}
.signup {
margin-bottom: 800px;
}
.signup-container {
border-radius: 7px;
border-style: outset;
border-width: 1.5px;
border-color: #F4F0EE;
background: #fff;
padding: 60px 55px 33px 55px;
font-family: 'IBMPlexSansKR-Text';
}

p {
font-family: 'IBMPlexSansKR-Text';
}

button {
font-family: 'IBMPlexSansKR-Text';
}

.signup-container h1 {
font-family: 'IBMPlexSansKR-Text';
}

.signup-container div {
font-family: 'IBMPlexSansKR-Text';
}


.login-wrapper {
margin: 0 auto;
width: 450px;
height: 50%;
padding: 100px 0;
}
element.style {
}
.signup-button {
width: 100%;
background: #FA4D55;
color: #fff;
border: none;
position: relative;
height: 60px;
font-size: 1em;
padding: 0 2em;
cursor: pointer;
transition: 800ms ease all;
outline: none;
border-radius: 5px;
margin-bottom: 20px;
}
.signup-button:hover {
background: #fff;
color: #FA4D55;
}

.signup-button:before,
button:after {
content: '';
position: absolute;
top: 0;
right: 0;
height: 2px;
width: 0;
background: #FA4D55;
transition: 400ms ease all;
border-radius: 5px;
}

.signup-button:after {
right: inherit;
top: inherit;
left: 0;
bottom: 0;
}

.signup-button:hover:before,
button:hover:after {
width: 100%;
transition: 800ms ease all;
}

.login-signup-link {
color: #1AAB8A;
}
.signup-container h1{
margin-bottom:2%;
}

footer{
display:none;
}

@font-face {
font-family: 'IBMPlexSansKR-Text';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Text.woff') format('woff');
font-weight: normal;
font-style: normal;
}

{% endblock %}
{% block content %}
<div class="sign_out" style="background-color:#F4F0EE">
    <div class="login-wrapper">
        <div class="signup-container">
            <h1>회원 탈퇴</h1>
            <br />
            <div><i class="fas fa-exclamation-circle" style=color:red></i> 회원 탈퇴 시 유의사항 <i
                    class="fas fa-exclamation-circle" style=color:red></i></div>
            <br />
            가입할 때 입력하신 회원님의 개인정보는 모두 삭제되며, 데이터는 복구되지 않습니다.<br />
            탈퇴시 DDARABANG 에서 제공하는 마이플랫폼에서도 로그인할 수 없습니다. 신중하게 고려하신 후 선택하시기 바랍니다.<br />
            <br />
            <회원 탈퇴 후 보존 안내사항><br />
                DDARABANG 사이트의 다양한 페이지에 있는 게시글, 댓글, 설문, 후기 등은 탈퇴 시 자동으로 삭제되지 않고 그대로 남아 있습니다.
                삭제를 원하는 게시글이 있다면 반드시 탈퇴 전에 삭제하시기 바랍니다.
                탈퇴 후에는 회원정보가 삭제되어 본인 여부를 확인할 수 있는 방법이 없어, 게시글을 임의로 삭제해드릴 수 없습니다.<br /><br />
                <form method="POST">
                    {% csrf_token %}
                    <p>정말로 탈퇴하시겠습니까?</p>
                    <button type="submit" class="signup-button">회원탈퇴</button>
                </form>

        </div>
    </div>
</div>
{% endblock %}