.post_list_container {
    display: flex;
    position: absolute;
    height: 90%;
    width: 100%;
}

.post_list_sec1 {
    text-align: center;
    width: 16%;
    height: 100%;
    background-color: #FA4D55;
    position: fixed;
}

.sec1user {
    margin-top: 16%;
}

.sec1user p {
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 8%;
    margin-bottom: 8%;
    font-size: 16px;
    color: #ffffff;
}

.list_user {
    border: 2px solid #ffffff;
    border-radius: 100px;
    padding:10px;
    width: 30%;
    height: 30%;
}

.post_list_sec1_write a {
    display: block;
    font-size: 16px;
    margin-bottom: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #FA4D55;
    border: 1.5px solid #ffffff;
    color: #ffffff;
    border-radius: 3px;
    margin-left: 25%;
    margin-right: 25%;
    font-family: 'Noto Sans KR', sans-serif;
}

.post_list_sec1_write a:hover {
    background-color: #FA4D55;
    border: 1.5px solid #ffffff;
    color: #ffffff;
    background-color: #ffffff;
    border: 1.5px solid #ffffff;
    color: #FA4D55;
    }

.sec1_list a {
    display: block;
    color: #FA4D55;
    font-size: 16px;
    margin-bottom: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #F5F5F5;
    border: 1.5px solid #ffffff;
    border-radius: 3px;
    margin-left: 25%;
    margin-right: 25%;
    font-family: 'Noto Sans KR', sans-serif;
}

.sec1_list a:hover {
    background-color: #FA4D55;
    border: 1.5px solid #ffffff;
    color: #ffffff;
    }


.sec2_post > a {
    display: block;
}


.post_list_sec2 {
    width: 60%;
    text-align: center;
    background-color: #F5F5F5;
    margin-left: 16%;
}

.sec2_post_list {
    height: 150px;
}

.post-page-title p {
    margin-top: 5%;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: black;
    text-align: center;
}

.post-page-title #community-description {
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    color: gray;
    text-align: center;
    margin-top: 1%;

}

.post-page-body {
    margin-top: 1%;
    height: 73%;
    overflow-x: hidden;
    margin-left: 12px;
}

.post-page-body::-webkit-scrollbar {
    background: transparent;
}

/*검색창*/
.sec2_search {
    margin-right: 20px;
    width: 30%;
    margin-bottom: 1%;
    float: right;
}

.sec2_search input {
    width: 70%;
    height: 35px;
    border-radius: 5px;
    padding-left: 7px;
    font-family: 'Noto Sans KR', sans-serif;
}

.sec2_search #search_btn {
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    height: 35px;
    padding-right: 7px;
    padding-left: 7px;
    border-radius: 5px;
}

.sec2_search a {
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    color: black;
}

/* 게시물 목록 */
.post-table {
    padding-top: 50px;
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
    height: 380px;
    font-family: 'Noto Sans KR', sans-serif;
    color: black;
    border-radius: 5px;
}


.post-table thead td {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1.5px solid black;
    border-bottom: 2px solid black;
    font-family: 'Noto Sans KR', sans-serif;
}

.post-table tr {
    width: 100%;
    margin-bottom: 8px;
    height: 35px;
    text-align: center;
    padding: 5px;
    display: table;
}


.post-table tbody a {
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
    display: block;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.post-table tbody a:hover {
    color: #424242;
}

.post-table tbody tr {
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    }

.post-table tbody td {
    text-align: center;
    padding: 0;
    margin: 5px;
    background-color: white;
    font-family: 'Noto Sans KR', sans-serif;
}


/* 페이지네이션 */
.p_1_pgd {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    padding-bottom: 16px;
    color: #424242;
}

/* 실시간 인기글 */
.post_list_sec3 {
    background-color: #F5F5F5;
    width: 25%;
}

.p_l_sec3_box {
    width: 85%;
    height: 90%;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 8%;
    border-radius: 5px;
    overflow-x: hidden;
    padding-left: 10px;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
}

.p_l_sec3_box_title {
    padding-top: 40px;
    padding-bottom: 40px;
    color: #FA4D55;
}

.sec3_post_hot_post > a {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
    border-top: 1.5px solid #424242;
}

.sec3_post_hot_post > a:last-child {
    border-bottom: 1px solid #424242;
}

.p_l_sec3_box::-webkit-scrollbar {
    background: transparent;
}

.sec3_post_hot_post h1 {
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 10px;
}

.sec3_post_hot_post h3 {
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 10px;
}